bankWebService/WebContent/wsdl/Account.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://account.bank" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://account.bank" xmlns:intf="http://account.bank" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://account.bank" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="withdrawal">
    <complexType>
     <sequence>
      <element name="idCustomer" type="xsd:int"/>
      <element name="amount" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="withdrawalResponse">
    <complexType>
     <sequence>
      <element name="withdrawalReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="accountBalance">
    <complexType>
     <sequence>
      <element name="idCustomer" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="accountBalanceResponse">
    <complexType>
     <sequence>
      <element name="accountBalanceReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="createAccount">
    <complexType>
     <sequence>
      <element name="idCustomer" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createAccountResponse">
    <complexType/>
   </element>
   <element name="deposit">
    <complexType>
     <sequence>
      <element name="idCustomer" type="xsd:int"/>
      <element name="amount" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="depositResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="createAccountRequest">

      <wsdl:part element="impl:createAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="depositRequest">

      <wsdl:part element="impl:deposit" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="withdrawalRequest">

      <wsdl:part element="impl:withdrawal" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="withdrawalResponse">

      <wsdl:part element="impl:withdrawalResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createAccountResponse">

      <wsdl:part element="impl:createAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="depositResponse">

      <wsdl:part element="impl:depositResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="accountBalanceRequest">

      <wsdl:part element="impl:accountBalance" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="accountBalanceResponse">

      <wsdl:part element="impl:accountBalanceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Account">

      <wsdl:operation name="withdrawal">

         <wsdl:input message="impl:withdrawalRequest" name="withdrawalRequest">

       </wsdl:input>

         <wsdl:output message="impl:withdrawalResponse" name="withdrawalResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="accountBalance">

         <wsdl:input message="impl:accountBalanceRequest" name="accountBalanceRequest">

       </wsdl:input>

         <wsdl:output message="impl:accountBalanceResponse" name="accountBalanceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAccount">

         <wsdl:input message="impl:createAccountRequest" name="createAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:createAccountResponse" name="createAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deposit">

         <wsdl:input message="impl:depositRequest" name="depositRequest">

       </wsdl:input>

         <wsdl:output message="impl:depositResponse" name="depositResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AccountSoapBinding" type="impl:Account">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="withdrawal">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="withdrawalRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="withdrawalResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="accountBalance">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="accountBalanceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="accountBalanceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deposit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="depositRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="depositResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AccountService">

      <wsdl:port binding="impl:AccountSoapBinding" name="Account">

         <wsdlsoap:address location="http://localhost:8080/bankWebService/services/Account"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
